body{
    height: 100%;
    width: 100%;
  
}

.logo-ig{
    font-size: larger;
  
}

.headerButtons{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    
}

.view-icons{
    display: flex;
    justify-content: center;
}

.card{
    justify-self: center;
}