body{
    height: 100%;
    width: 100%;
  
}

.logo-ig{
    font-size: larger;
  
}

.headerButtons{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    
}

.bi-grid-3x3,.bi-square-fill{
    color: blue;
}